<!DOCTYPE html>
<html ng-app="CribbageApp">
<head>
  <title>Cribbage Solver</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Import the application code -->
  <script src="logicDependencies.js"></script>
  <script src="presentationDependencies.js"></script>
</head>
<body ng-controller="CribbageCtrl">
  <div class="container">

    <h1>Cribbage Solver!</h1>

    <nav class="navbar">
    <h5>Choose an activity:</h5>
    <ul class="nav nav-tabs">
      <li>&nbsp;&nbsp;</li><!-- Indent the first tab -->
      <li ng-repeat="tab in activityTabs" ui-sref-active="active">
        <a ng-if="tab.enabled" ui-sref="{{tab.name}}">{{tab.string}}</a>
      </li>
    </ul>
    </nav>

    <div ui-view></div>

  <div class="text-center">
    <small>
      &copy; 2015 Andrew Brandon<br/>
      <a href="http://www.github.com/drbr/cribbage">View the code</a>
    </small>
  </footer>

  </div>

</body>
</html>
