<!DOCTYPE html>
<html ng-app="CribbageApp">
<head>
  <title>Cribbage Solver</title>

  <!-- Import the application code -->
  <script src="logicDependencies.js"></script>
  <script src="presentationDependencies.js"></script>
</head>
<body ng-controller="CribbageCtrl">
  <div class="container">

    <h1>Cribbage Solver!</h1>

    <div class="container-fluid">
      <nav class="navbar">
      <h5>Choose an activity:</h5>
      <ul class="nav nav-tabs">
        <li>&nbsp;&nbsp;&nbsp;</li>
        <li ng-repeat="tab in activityTabs" ui-sref-active="active">
          <a ng-if="tab.enabled" ui-sref="{{tab.name}}">{{tab.string}}</a>
        </li>
      </ul>
      </nav>

      <div ui-view></div>

    </div>

  </div>
</body>
</html>
