<div ng-if="!scoreBreakdown || !scoreBreakdown.length" class="text-warning">
  Select a hand to see the score breakdown by starter.
</div>

<div ng-if="scoreBreakdown && scoreBreakdown.length">
  <table class="table table-striped cr-results-table">
    <thead>
      <tr>
        <th>Starter Card</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in tableRows">
        <td ng-bind-html="row.cards | cardToSymbol : true"></td>
        <td>{{ row.score }}</td>
      </tr>
    </tbody>
  </table>
</div>