<div class="panel panel-default">
  <div class="panel-heading">Select six cards:</div>
  <div class="panel-body">
    <p ng-repeat="card in cards">
      <cr:card-selector
        card="cards[$index].card"
        set-card="setCard(newCard, $index)">
      </cr:card-selector>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 panel panel-default">
    <div class="panel-body" ng-class="prompt && prompt.classes">
      {{ prompt && prompt.prompt }}
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 panel panel-default">
    <div class="panel-body">
      <cr:starter-scores score-breakdown="scoreBreakdown"></cr:starter-scores>
    </div>
  </div>
</div>