<div class="panel panel-default">
  <div class="panel-heading">Select six cards:</div>
  <div class="panel-body">
    <p ng-repeat="card in cards">
      <cr:card-selector
        card="cards[$index].card"
        set-card="setCard(newCard, $index)">
      </cr:card-selector>
    </p>
  </div>
</div>

<div class="row" ng-show="prompt">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body" ng-class="prompt && prompt.classes">
        {{ prompt && prompt.prompt }}
      </div>
    </div>
  </div>
</div>

<div class="row" ng-if="breakdownsPerHand">
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Select a hand of four cards:
      </div>
      <div class="panel-body">
        <table class="table table-hover cr-results-table">
          <thead>
            <tr>
              <th>Hand</th>
              <th>Expected Score</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in breakdownsPerHand" ng-click="chooseHand($index)"
                ng-class="{ 'info': currentHandIndex === $index }">
              <td ng-bind-html="row.fourCards | cardToSymbol"></td>
              <td>{{ row.expectedScore | number : 2 }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Score breakdown:
      </div>
      <div class="panel-body">
        <cr:starter-scores score-breakdown="scoreBreakdown"></cr:starter-scores>
      </div>
    </div>
  </div>
</div>