<div class="panel panel-default">
  <div class="panel-body">
    <cr:hand-score cards="cardsUnwrapped" starter="starter"></cr:hand-score>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Select four cards:</div>
  <div class="panel-body">
    <p ng-repeat="card in cards">
      <cr:card-selector
        card="cards[$index].card"
        set-card="setCard(newCard, $index)">
      </cr:card-selector>
    </p>
  </div>
  <div class="panel-heading">Select the starter:</div>
  <div class="panel-body">
    <cr:card-selector card="starter" set-card="setStarter(newCard)"></cr:card-selector>
  </div>
</div>