/* Suit colors */

.cr-suit-color.red {
    color: red;
}

.cr-suit-color.black {
    color: black;
}


/* Card selector */

.cr-card-selector .cr-card-name {
    display: inline-block;
    margin: 6px;
}

.cr-card-selector .cr-value-btn {
    padding: 0px 6px;
    font-size: 28px;
    height: 40px;
    min-width: 40px;
    line-height: 40px;
}

.cr-card-selector .cr-dropdown-btn-selected {
    padding: 0px 6px;
    font-size: 28px;
    height: 40px;
    min-width: 56px; /* Largest that can fit on 320px display without wrapping */
    line-height: 40px;
}

.cr-card-selector .cr-dropdown-btn-default {
    padding: 0px 6px;
    height: 40px;
    min-width: 60px;
    line-height: 40px;
}


.cr-card-selector .cr-dropdown-content {
    min-width: 171px; /* Enough for four tiles */
    padding: 6px;
    text-align: left;
}

.cr-card-selector .cr-dropdown-content .btn-group + .btn-group {
    margin-top: 6px;
}

.cr-card-selector .cr-dropdown-wide {
    width: 216px; /* Enough for five tiles */
}